{% if site.moocs %}
	<div id="coursesBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>MOOCs</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="courseraPanel">
				{% for course in site.moocs.courses %}
				<div class="row">
					{% if course.optionalimage %}
						<div class="col-sm-3">
							<img src="{{course.optionalimage}}">
						</div>
					{% endif %}
					<div class="col-sm-9">
						<a target='_blank' href="{{course.link}}">
							{{course.title}}
						</a><br/>
						<i>{{course.date}}</i>
					</div>
				</div><br/>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
