<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
		<p>I am a passionate computer programmer, writing mostly in Java and mostly creating tools for other software developers and architects - I was an Eclipse committer, and my current project is a REST API design tool. </p>

		<p>I graduated with honors from St. Petersburg State (Academic) University in Russia with a Master’s degree in CS and Mathematics more than 10 years ago and l am still actively connected with the academic community, including thesis reviewings. </p>
		<p>I started my career 13 years ago. During these years, I was lucky to work for different kinds of companies, starting with a big American corporation in Russia and later in Europe, then for a French research institution, and now I am a lead developer at a dynamic startup in the US.</p>
			</ul>
		</div>
		<br>
	</div>
</div>
