<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb"><ul>
<li>A Senior Java Software Developer with a wide range of interests.</li>
<li>10+ years hands-on experience in Java development.</li>
<li>Expert in Eclipse plugin development and Eclipse modeling technologies.</li>
<li>A 4+ years committer at Eclipse MDT project.</li>
<li>Expert in server-side and client-side Java technologies.</li>
<li>Proficient with Java Design Patterns.</li>
<li>Strong experience in all phases of software development lifecycle.</li>
<li>Able to work on own initiative and as part of a team.</li>
<li>Academic Math education helps to understand different programming paradigms like logical
and functional programming.</li>
<li>Fast-learner - can start applying new technologies almost immediately upon getting
documentation and access to tools.</li>
			</ul>
		</div>
		<br>
	</div>
</div>
